In [1]:
import pandas as pd
import lasio

In [2]:
df = pd.read_csv('Sites/RCEW/IS2_Data/RCEW-ICESat2-ATL03.csv')
df.head()

                            time              X             Y          Z
0  2019-05-27 12:28:42.743937792  523430.475310  4.772917e+06  1900.3315
1  2019-05-27 12:28:42.744737536  523429.877709  4.772922e+06  1898.8876
2  2019-05-27 12:28:42.745137664  523429.578021  4.772925e+06  1898.0692
3  2019-05-27 12:28:42.745337600  523429.435821  4.772927e+06  1898.5760
4  2019-05-27 12:28:42.745437696  523429.355678  4.772927e+06  1897.7479

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1706804 entries, 0 to 1706803
Data columns (total 4 columns):
 #   Column  Dtype
---  ------  -----
 0   time    object
 1   X       float64
 2   Y       float64
 3   Z       float64
dtypes: float64(3), object(1)
memory usage: 52.1+ MB

In [5]:
las = lasio.LASFile()
las.header

{'Version': [HeaderItem(mnemonic="VERS", unit="", value="2.0", descr="CWLS log ASCII Standa"),
  HeaderItem(mnemonic="WRAP", unit="", value="NO", descr="One line per depth ste"),
  HeaderItem(mnemonic="DLM", unit="", value="SPACE", descr="Column Data Section ")],
 'Well': [HeaderItem(mnemonic="STRT", unit="m", value="nan", descr="START DEPTH"),
  HeaderItem(mnemonic="STOP", unit="m", value="nan", descr="STOP DEPTH"),
  HeaderItem(mnemonic="STEP", unit="m", value="nan", descr="STEP"),
  HeaderItem(mnemonic="NULL", unit="", value="-9999.25", descr="NULL VALUE"),
  HeaderItem(mnemonic="COMP", unit="", value="", descr="COMPANY"),
  HeaderItem(mnemonic="WELL", unit="", value="", descr="WELL"),
  HeaderItem(mnemonic="FLD", unit="", value="", descr="FIELD"),
  HeaderItem(mnemonic="LOC", unit="", value="", descr="LOCATION"),
  HeaderItem(mnemonic="PROV", unit="", value="", descr="PROVINCE"),
  HeaderItem(mnemonic="CNTY", unit="", value="", descr="COUNTY"),
  HeaderItem(mnemonic="STAT", unit="", value="", descr="STATE"),
  HeaderItem(mnemonic="CTRY", unit="", value="", descr="COUNTRY"),
  HeaderItem(mnemonic="SRVC", unit="", value="", descr="SERVICE COMPANY"),
  HeaderItem(mnemonic="DATE", unit="", value="", descr="DATE"),
  HeaderItem(mnemonic="UWI", unit="", value="", descr="UNIQUE WELL ID"),
  HeaderItem(mnemonic="API", unit="", value="", descr="API NUMBER")],
 'Curves': [],
 'Parameter': [],
 'Other': ''}

In [6]:
las.add_curve('X', df['X'], unit='m')
las.add_curve('Y', df['Y'], unit='m')
las.add_curve('Z', df['Z'], unit='m')

AttributeError: 'LASFile' object has no attribute 'add_curve'